body {
    text-align: center;
}


/* preloader */

.spinner {
    width: 40px;
    height: 40px;
    position: absolute;
    margin: auto auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.66);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}


/* body */

#title {
    background-color: #ff4c68;
    color: white;
    z-index: -1;
    text-align: left;
}

.container-fluid {
    padding: 5% 15%;
}

.col-lg-6 h1 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.col-lg-4 h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
}

.col-lg-4 p {
    color: #8f8f8f;
}

#testimonials h2 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

#cta h3 {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}


/* navigation bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}


/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}


/* title image */

.title-img {
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
}


/* Features */

#features {
    padding: 10%;
    background-color: white;
    position: relative;
}

.feature-box {
    padding: 0% 4%;
}

.icon {
    color: #ef8172;
    margin-bottom: 4%;
}

.icon:hover {
    color: #ff4c68;
}


/* testimonials */

#testimonials {
    background-color: #ef8172;
    color: white;
}

.carousel-item {
    padding: 7% 15%;
}

.img {
    border-radius: 100%;
    width: 10%;
    margin: 4%;
}


/* press */

#press {
    background-color: #ef8172;
    padding-bottom: 5%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px;
}


/* pricing */

#pricing {
    padding: 3%;
}

.pricing-card {
    padding: 3% 2%;
}


/* call to action */

.call {
    background-color: #ff4c68;
    padding: 5% 18%;
    color: white;
}

#footer {
    margin-top: 2%;
}

.social {
    margin: 1% 1%;
}

#footer p {
    color: #8f8f8f;
}

@media (max-width:992px) {
    .title-img {
        width: 40%;
        transform: rotate(0);
        position: relative;
    }
}